<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- f : SigninForm 객체, error: 아이디/비밀번호 틀린경우 에러코드 -->
{% if error %}
		<p>{{error}}</p>
{% endif %}

<form action="" method="post">
	  {% csrf_token %}
	  <!-- 로그인 후 이동할 페이지 주소 -->
	  <input type="hidden" name="nexturl" value="{{nexturl}}">
	  
	  {{f.as_p}}
	  
	  <input type="submit" value="로그인">
</form>
<a href="{% url 'social:begin', 'google-plus' %}">구글로 로그인</a>
<a href="{% url 'vote:index'%}">메인페이지로 돌아가기</a>
</body>
</html>